.outter{
    
    width: 500px;
    border: 3px solid red;
}
.inner{
    border: 3px solid red;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.content{
    border: 3px solid red;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.list{
    border: 3px solid red;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.list li{
    border: 3px solid red;
    margin-left: -33px;
    margin-right: 7px;
}
#first{
    margin-top: 10px;
}
#second{
    margin-bottom: 10px;
}
a,button{
    border: 3px solid red;
    padding: 5px;
}